language: php

php:
  - 5.6
  - 7.0
  - 7.1

cache:
  directories:
    - $HOME/.composer/cache

install: travis_retry composer install

script:
  - vendor/bin/phpunit
  - php vendor/bin/ocular code-coverage:upload --format=php-clover tests/reports/clover.xml